doctype html
html(lang = 'ru')
  head
    meta(charset = 'utf-8')
    title Тестовое задание для Synesthesia
    script(asunc src = '/bundle.js')
    link(rel = 'stylesheet' href = '/components.css')
  body
    #app-root
